/* GUIDE & REFERENCES
    ____________________
    Color Logo
    Light-blue: #40b6e9
    Light-blue2: #41b7ea
    Medium-blue: #3a95ce
    dark-blue: #326fb0
    darker-blue: #316bad
    ____________________

    Fonts: 
    Mugiwara - One Piece logo font

*/

@font-face {
    font-family: mugiwara;
    src: url("../Fonts/one_piece.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-family: mugiwara;
}

.img-background {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../../Assets/Images/going-merry-background.jpg");
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("../../Assets/Images/thousand-sunny-background.jpg"); */
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}


body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.head-content {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-crew .head-content video{
    margin-left: 100px;
}

.container-crew .head-content i{
    margin-top: 5px;
    margin-left: -150px;
    align-self: flex-end;
}

.head-content .content a {
    text-decoration: none;
    color: #3b9ed5;
}

.head-content .content a:hover {
    color: #000000;
}

.head-content .content {
   width: 30%;
}

.head-content img {
    height: 300px;
}

.container-enemies {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%
}

.container-enemies .content-enemies {
   width: 25%;
   border: 1px solid red;
   padding: 1%;
   margin: 1%;
   overflow-wrap: break-word;
}

.container-enemies .content-enemies img{
   width: 340px;
   height: 274px;
   border-radius: 5px;
}

.container-enemies .content-enemies p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container-crew .crew {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.container-crew h1 {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-crew .crew img{
    height: 290px;
}

.container-crew .crew img:hover{
    height: 320px;
    transition: 0.5s;
    filter: invert(1)
}

.container-crew .crew-content {
    font-size: 22px;
    display: flex;

}

.container-crew .crew-content p {
    font-family:'Courier New', Courier, monospace;
    padding-right: 150px;
}

.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: red;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

.container .card img {
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: blue;
    transition: 0.5s;
}

.container .card:hover {
    background-color: yellow;
    color: green;
    margin-top: -30px;
    box-shadow: 2px 20px 25px orange;
    border-color: rosybrown;
}

.container .card:hover img {
    filter: invert(1);
}

.container .card:hover .content p {
    color: purple;
}

/* .container .card .content a {
    position: relative;
    display: inline-block;
    paddin: 10px 20px;
} */

.nav-bar {
    display: flex;
    padding: 40px 140px;
}

.nav-logo img {
    position: relative;
    top: -25px;
    left: -30px;
    height: 110px;
    width: 150px;
}

.nav-links {
    flex: 1;
}

.nav-links ul {
    margin-left: 50px;
    display: inline;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links a {
    color: seashell;
    text-decoration: none;
    font-size: 24px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #3b9ed5;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    border: 0;
    background: #3a95ce;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.nav-links .btn {
    float: right;
}

.banner-title {
    margin: 5px 130px;
}

.banner-title h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-title h1 span {
    color: #3a95ce;
}

.vertical-bar {
    height: 100%;
    background: #3a95ce;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icon {
    height: 60%;
    width: 80px;
}

.search-icon .fa-solid {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    height: 40%;
    width: 80px;
    background: #316bad;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons a {
    text-decoration: none;
    color: white;
}

.social-icons .fa-brands {
    margin: 15px 23px;
    display: block;
    padding: 9px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}



.notifications {
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: red;
    align-items: center;
}

.contents {
    flex-basis: 50%;
    padding: 10px;
}

.contents a{
   text-decoration: none;
   color: #fff;
   font-size: 13px
}

.contents p{
    text-align: right;
    margin-top: 10px;
}

.notifications-img {
    flex-basis: 50%;
}

.nav-bar .fa {
    display: none;
}

.slideshow {
    padding-top: 25px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 400px;
}

.slideshow img {
    height: 300px;
}

.figure img {
    float: left;
}

figure {
    position: absolute;
    width: 400%; 
    margin: 0;
    -webkit-animation: slidey 10s infinite;
    animation: slidey 14s infinite;
  }

figure img:hover {
   filter: grayscale(10);
}

.container-history {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  @-webkit-keyframes slidey {
    0%  { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    33% { transform: translateX(-25%); }
    58% { transform: translateX(-25%); }
    66% { transform: translateX(0%); }
    91% { transform: translateX(0%); }
    100%{ transform: translateX(0%); }
  }
  
  @keyframes slidey {
    0%  { transform: translateX(0%); }
    25% { transform: translateX(0%); }
  
    33% { transform: translateX(-25%); }
    58% { transform: translateX(-25%); }
  
    66% { transform: translateX(0%); }
    91% { transform: translateX(0%); }
    100%{ transform: translateX(0%); }
  }

/* .banner-title h4{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 500px;
} */

@media (max-width: 700px){
    .vertical-bar{
        display: none;
    }

    .banner-title {
        margin: 80px 40px;
    }

    .banner-title h1{
        font-size: 40px;
    }

    .notifications {
        width: 100%;
    }

    .nav-bar {
        padding: 10px 40px;
    }

    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .nav-bar .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 15px;
        cursor: pointer;
    }

    .nav-links {
        height: 100vh;
        width: 200px;
        background: #3a95ce;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul a{
        display: block;
    }

    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
        color:#fff;
        background-color: black;
    }

}

/* @media(min-width: 400px){
    body{
        display: none  ;
    }
} */